language: android
jdk: oraclejdk8
before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:      #Cache all dirs under .gradle folder
    - $HOME/.gradle/daemon      #Cache daemon logs
    - $HOME/.gradle/native      #Cache library downloaded from the gradle dependency
    - $HOME/.gradle/wrapper     #Cache the gradle
android:
        components:
                - tools
                - platform-tools
                - build-tools-25.0.3
                - android-25
                - extra-google-m2repository
script:
        - ./gradlew test
        - ./gradlew build
before_install:
        - chmod +x gradlew
        - mkdir "$ANDROID_HOME/licenses" || true
        - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
        - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
branches:
        only:
                - master
                - dev
sudo: required